a:hover {
    color: green;
  }

a{
    margin: 10px;
}

nav{
    text-align: center;
}

h1{
    text-align: center;
    color: gray;
}

h2{
    margin: 20px 250px;
    color: gray;
}

ul{
    margin-left: 250px;
}

.text{
    margin-left: 250px;
}

img {
    border: 2px solid black;
    margin: 20px 550px;
  }